body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* 

/* SCSS HSL #9b5de5ff
$amethyst: ;
$brilliant-rose: #f15bb5ff;
$maize: #fee440ff;
$deep-sky-blue: #00bbf9ff;
$aquamarine: #00f5d4ff;
*/